{% extends "core/master.html" %}

{% block title %}Recetas{% endblock title %}

{% block content %}
<div class="centered_group">
    <h1 class="tittle">Recetario</h1>
    <p style="margin-top: 1rem;">En esta página encontrarás las recetas con los médicos que hayas pasado consulta. Haz click en el nombre de un médico para ver las recetas que te ha prescrito.</p>
    <hr>
    <div class="card">
        <h3><a class="contact" href={% url "prescriptions" %}>Dr. juan alonso chuchillas</a></h3>
    </div>
    <div class="card">
        <h3><a class="contact" href={% url "prescriptions" %}>Dr. juan alonso chuchillas</a></h3>
    </div>
    <div class="card">
        <h3><a class="contact" href={% url "prescriptions" %}>Dr. juan alonso chuchillas</a></h3>
    </div>
    <div class="card">
        <h3><a class="contact" href={% url "prescriptions" %}>Dr. juan guillermo alonso chuchillas</a></h3>
    </div>
    {{ data }}
</div>
{% endblock content %}
