{% extends "core/master.html" %}
{% block tittle %}Crear cuenta{% endblock tittle %}
{% block content %}
<div class="centered_group">
    <div style="text-align: left;" class="card">
        <div>
            <h1 style="font-size: 40;">Sign up</h1>
        </div>
        <form style="margin-top: 1rem;" action="" method="post">
            {% csrf_token %}
            <div style="display: flex; margin-top: 10px;">
                <label for="name">Nombre:</label>
                <input type="text", name="name" required>
                <label for="lastname">Apellido:</label>
                <input type="text" name="lastname" required>
                <label for="dui">DUI:</label>
                <input type="number" name="dui" placeholder="00000000">
            </div>
            <div style="display: flex;">
                <label for="username">Username:</label>
                <input type="text" name="username" required placeholder="crea un nombre de usuario">
            </div>
            <div style="display: flex;">
                <label for="wallet">Wallet:</label>
                <input type="text" name="wallet" required placeholder="id de wallet ehtereum">
                <label style="width: 240px;" for="pk">Private key:</label>
                <input type="text" name="pk" required placeholder="pega tu clave privada">
            </div>
            <div style="display: flex;">
                <label for="password">Contraseña:</label>
                <input type="password" name="password" placeholder="crea una contraseña para proteger tu clave privada">
            </div>
            <div style="display: flex; margin-bottom: 1rem;">
                <label style="width: 230px;" for="password_c">Confirmar contraseña:</label>
                <input type="password" name="password_c" placeholder="confirma tu contraseña">
            </div>

            <p style="color: rgb(255, 77, 77);">
                {{ data }}
            </p>

            <button type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock content %}