<div style="display: flex;">
    <h1 style="font-family: 'Tiny5', sans-serif; font-weight: 400; font-style: normal;">Prescrypto:</h1>
    <h2>Hackathon 2024 ETH</h2>
</div>

<hr>
<div class="foot" style="display: flex; flex-direction: row;">
    <div style="text-align: left; margin: 1rem">
        <h3>DESARROLADO POR</h3>
        <p>xsismadn3s | Fullstack</p>
        <p>JereMaya22 | Smart Contract</p>
        <p>edil9898 | Backend</p>
    </div>
    <!-- <div>
        <h3>PROYECTO</h3>
        <p>App descentralizada</p>
    </div> -->
    <div style="text-align: left; margin: 1rem">
        <h3>TECNOLOGIAS UTILIZADAS</h3>
        <p>Solidity | Smart Contract</p>
        <p>Infura | API para blockchain</p>
        <p>Python | Libreria web3 </p>
        <p>Django | Backend </p>
    </div>
</div>
<!-- <hr> -->
