{% extends "core/master.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
<div style="margin-top: 10rem; margin-left: 33%; margin-right: 33%; " class="centered_group">
    <div style="padding: 4rem;" class="card">
        <div>
            <h1 style="text-align: center;">¿Deseas cerrar sesión?</h1>
        </div>
        <form action="{{last}}" method="post">
            {% comment %} {% csrf_token %} {% endcomment %}
            <div style="display: flex;">
                <button id="YES" class="btn" type="submit" value="ok" name="Si">Yes</button>
                <button id="NO" class="btn no" type="submit" value="no" name="No">No</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}